textarea {
   margin-top: 5%;
}

h2 {
    font-weight: bold;    
}
.him {
    margin-top: 20%;
    font-weight: bold;
}

.word-counter-container {
    text-align: center;
}

.word-counter-container .text {
    display: block;
    width: 100%;
    height: 200px;
    border: 2px solid #14213d;
    padding: 24px;
}

footer{
    margin-bottom: auto;
}

footer span {
    color: black;
    margin-top: 100%;
}
